<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Tweet About</title>
  <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="content">
		  <h1>That's what <strong>@<%= user %></strong> is tweeting about lately...</h1>
      <div id="cloud"><%= cloud %></div>
    </div>
</body>
</html>

