<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>What I Tweet About</title>
  <link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="content">
	  <h1>That's what <strong><a href="http://twitter.com/<%= user %>">@<%= user %></a></strong> is tweeting about lately...</h1>
    <div id="twitter">
      <a href="https://twitter.com/share" 
      class="twitter-share-button" 
      data-text="Find out my twitter word cloud :)" 
      data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div id="cloud"><%= cloud %></div>
  </div>
  <a href="http://github.com/vvgomes/what_i_tweet_about">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
      alt="Fork me on GitHub" />
  </a>
</body>
</html>

