<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>What I Tweet About</title>
  <link href="styles.css" rel="stylesheet" type="text/css" />
  <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
  <script src="jquery.tagcloud.js"></script>
  <script src="javascripts.js"></script>
</head>
<body>
  <div id="content">
	  <h1>Find out what people are tweeting about lately...</h1>
    <div id="search">
      <input id="username" type="search" placeholder="twitterusername"
        autosave="unique" results="5" onkeydown="search(event)" />
      <% if locals[:notfound] then %>
      <span id="error">Not found</span>
      <% end %>
    </div>
  </div>
  <a href="http://github.com/vvgomes/tweetwords">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
      alt="Fork me on GitHub" />
  </a>
</body>
</html>

